@font-face {
  font-family: 'DS-Digital';
  src: url('DS-Digital-Bold.eot');
  src: url('DS-Digital-Bold.eot?#iefix') format('embedded-opentype'),
      url('DS-Digital-Bold.woff2') format('woff2'),
      url('DS-Digital-Bold.woff') format('woff'),
      url('DS-Digital-Bold.ttf') format('truetype'),
      url('DS-Digital-Bold.svg#DS-Digital-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}